<h1>Accordion</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="editor-tab" data-bs-toggle="tab" data-bs-target="#editor" type="button" role="tab" aria-controls="editor" aria-selected="true">Éditeur</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="result-tab" data-bs-toggle="tab" data-bs-target="#result" type="button" role="tab" aria-controls="result" aria-selected="false">Résultat</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="code-tab" data-bs-toggle="tab" data-bs-target="#code" type="button" role="tab" aria-controls="code" aria-selected="false">Code</button>
    </li>
</ul>
  
<!-- Tab panes -->
<div class="tab-content p-3">
    <div class="tab-pane active" id="editor" role="tabpanel" aria-labelledby="editor-tab">
        <form>
            <div class="mb-3">
              <label for="id-input" class="form-label">id de l'accordion</label>
              <input type="text" class="form-control" id="id-input" name="idInput" [(ngModel)]="accordion.id">
            </div>
        </form>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="initItem()">
          Ajouter un élément à l'accordion
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ newItem ? 'Ajouter' : 'Modifier'}} un élément</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form (ngSubmit)="newItem ? addElement() : editItem()">
                  <div class="mb-3">
                    <label for="header-id-input" class="form-label">id du header</label>
                    <input type="text" class="form-control" id="header-id-input" name="headerIdInput" [(ngModel)]="item.headerId" >
                  </div>
                  <div class="mb-3">
                    <label for="header-text-input" class="form-label">Texte du header</label>
                    <input type="text" class="form-control" id="header-text-input" name="headerTextInput" [(ngModel)]="item.headerText">
                  </div>
                  <div class="mb-3">
                    <label for="body-id-input" class="form-label">id du body</label>
                    <input type="text" class="form-control" id="body-id-input" name="bodyIdInput" [(ngModel)]="item.bodyId">
                  </div>
                  <div class="mb-3">
                    <label for="body-text-input" class="form-label">Texte du body</label>
                    <input type="text" class="form-control" id="body-text-input" name="bodyTextInput" [(ngModel)]="item.bodyText">
                  </div>
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="show-check" name="showCheck" [(ngModel)]="item.show" >
                    <label class="form-check-label" for="show-check">Elément ouvert par défaut</label>
                  </div>
                  <button 
                    type="submit" 
                    class="btn btn-primary" 
                    data-bs-dismiss="modal"
                    [disabled]="!item.headerId || !item.headerText || !item.bodyId || !item.bodyText"
                  >
                    Valider
                  </button>
                </form>
              </div>
              <div class="modal-footer">
                 
              </div>
            </div>
          </div>
        </div>

        <!-- Modal de suppression d'un élément -->
        <div class="modal fade" id="delete-modal" tabindex="-1" aria-labelledby="delete-modal-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-label">Suppression d'un élément</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Êtes-vous sûr(e) de vouloir supprimer cet élément?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteItem()">Oui</button>
              </div>
            </div>
          </div>
        </div>

        <p *ngIf="accordion.items.length === 0 ; else items_container" class="mt-3">
          L'accordion ne contient aucun élément.
        </p>
        <ng-template #items_container>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Élément</th>
                <th>Actions</th> 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of accordion.items" class="align-middle">
                <td>{{ item.bodyText }}</td>
                <td>
                  <button class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openItem(item.id)">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </button>
                  <button class="btn btn-danger m-2" data-bs-toggle="modal" data-bs-target="#delete-modal" (click)="setIdItemToDelete(item.id)">
                    <i class="fa-solid fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
    </div>

    <div class="tab-pane" id="result" role="tabpanel" aria-labelledby="result-tab">
        <div class="accordion" id="{{ accordion.id }}" *ngIf="accordion.items.length > 0">
            <div 
              class="accordion-item" 
              *ngFor="let item of accordion.items; let i = index"
            >
              <h2 class="accordion-header" id="{{ item.headerId }}">
                <button class="accordion-button {{ item.show ? '' : 'collapsed' }}" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#' + item.bodyId" aria-expanded="true" [attr.aria-controls]="item.bodyId">
                  {{ item.headerText }}
                </button>
              </h2>
              <div id="{{ item.bodyId }}" class="accordion-collapse collapse {{ item.show ? 'show' : '' }}" [attr.aria-labelledby]="item.headerId" [attr.data-bs-parent]="'#' + accordion.id">
                <div class="accordion-body">
                  {{ item.bodyText }}    
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="code" role="tabpanel" aria-labelledby="code-tab">
      <p id="code-alert" class="alert alert-primary" role="alert" *ngIf="codeAlertVisible">
        Le code a bien été copié!
      </p>

      <button class="btn btn-primary mb-3" (click)="copyCode()">Copier le code</button>
      <div class="bg-secondary text-white">
        <pre>
          {{ getCode() }}
        </pre>
      </div>
    </div>
</div>

